@import 'tailwindcss';

@import './fonts.css';
@import './theme/light.css';
@import './theme/dark.css';
@import './utility/typography.css';
@import './utility/text.css';
@import './utility/button.css';
@import './utility/input.css';

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
