@utility input-base {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.375rem;
  background-color: var(--color-surface);
  color: var(--color-primary-700);
  border: 1px solid var(--color-grey-300);
  outline: none;

  &:focus {
    border-color: var(--color-primary);
    box-shadow: 0 0 0 1px var(--color-primary);
  }

  &::placeholder {
    color: var(--color-grey-400);
    padding-left: 0.25rem;
  }
}

input {
  @apply input-base p-large;
}
